<!-- CONTAINER -->

<div ngClass="ng2-tag-input {{ theme || '' }}"
     (click)="focus()"
     [attr.tabindex]="-1"

     [drag]="dragZone || null"
     [class.ng2-tag-input--disabled]="disabled"
     [class.ng2-tag-input--loading]="isLoading"
     [class.ng2-tag-input--invalid]="form?.hasErrors()"
     [class.ng2-tag-input--focused]="form?.isInputFocused()">

    <!-- TAGS -->
    <div class="ng2-tags-container">
        <tag *ngFor="let item of items; let i = index; trackBy: trackBy"
             (onSelect)="selectItem(item)"
             (onRemove)="onRemoveRequested(item, i)"
             (onKeyDown)="handleKeydown($event)"
             (onTagEdited)="onTagEdited.emit($event)"
             (onBlur)="onTagBlurred($event, i)"
             draggable="{{ editable }}"
             [drag]="dragZone || null"
             [index]="i"
             [item]="item"

             [attr.tabindex]="0"
             [disabled]="disabled"
             [@animation]="animationMetadata"
             [hasRipple]="ripple"
             [index]="i"
             [removable]="removable"
             [editable]="editable"
             [displayBy]="displayBy"
             [identifyBy]="identifyBy"
             [template]="!!hasCustomTemplate() ? templates.first : undefined"
             [draggable]="dragZone"
             [model]="item">
        </tag>

        <tag-input-form
            (onSubmit)="onAddingRequested(false, formValue)"
            (onBlur)="blur()"
            (click)="dropdown ? dropdown.onChange() : undefined"
            (onKeydown)="callEvent('keydown', $event)"
            (onKeyup)="callEvent('keyup', $event)"

            [(inputText)]="inputText"
            [disabled]="disabled"
            [validators]="validators"
            [asyncValidators]="asyncValidators"
            [hidden]="isOverMaxItems()"
            [placeholder]="items.length ? placeholder : secondaryPlaceholder"
            [inputClass]="inputClass"
            [inputId]="inputId"
            [tabindex]="tabindex">
        </tag-input-form>
    </div>

    <div class="progress-bar" *ngIf="isLoading"></div>
</div>

<!-- ERRORS -->
<div *ngIf="form?.hasErrors()" 
     class="error-messages {{ theme || '' }}">
    <p *ngFor="let error of form.getErrorMessages(errorMessages)"
        class="error-message">
        <span>{{ error }}</span>
    </p>
</div>

<ng-content></ng-content>
