// TAG

@import "../themes/colors";
@import "../themes/variables";
@import "../themes/palette";

tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    font-family: $font-family;
    font-weight: $tag-font-weight;
    font-size: $tag-font-size;
    letter-spacing: $tag-letter-spacing;

    outline: 0;
    color: $tag-color;
    cursor: pointer;
    border-radius: $tag-border-radius;
    transition: all 0.25s;

    margin: $tag-margin;
    padding: $tag-padding;

    height: $tag-height;
    line-height: $tag-line-height;
}

tag.readonly {
    cursor: default;
}

tag.readonly:focus {
    outline: 0;
}

tag:focus {
    outline: 0;
}

.default tag {
    background: map-get($color-primary, 'default');
}

.default tag:not(.ng2-tag--readonly):focus {
    background: map-get($color-focused, 'default');
    color: #fff;
}

.default tag:not(.ng2-tag--readonly):active {
    background: darken(map-get($color-focused, 'default'), 5%);
    color: #fff;
}

.default tag:not(:focus):not(.ng2-tag--readonly):hover {
    background: darken(map-get($color-primary, 'default'), 5%);
}

.minimal tag {
    background: map-get($color-primary, 'minimal');
    border-radius: 0;
}

.minimal tag:not(tag--readonly):focus,
.minimal tag:not(tag--readonly):active {
    background: map-get($color-focused, 'minimal');
}

.minimal tag:not(:focus):not(tag--readonly):hover {
    background: darken(map-get($color-primary, 'minimal'), 5%);
}

.minimal tag:not(:focus):not(tag--readonly):hover {
    background: darken(map-get($color-primary, 'minimal'), 5%);
}

.dark tag {
    background: map-get($color-primary, 'dark');
    color: #f9f9f9;
}

.dark tag:not(.ng2-tag--readonly):focus,
.dark tag:not(.ng2-tag--readonly):active {
    background: map-get($color-focused, 'dark');
    color: map-get($color-primary, 'dark');
}
