:host,
:host > div,
:host > div:focus {
    outline: 0;
}

:host.blink {
    -webkit-animation: blink 0.3s normal forwards ease-in-out;
    animation: blink 0.3s normal forwards ease-in-out;
}
@keyframes blink {
    0% {
        opacity: 0.3;
    }
}

:host [contenteditable] {
    outline: 0;
}
