<div (click)="select($event)"
     [ngSwitch]="!!template"
     [class.readonly]="readonly"
     [attr.tabindex]="-1"
     [attr.aria-label]="model.display">

    <div *ngSwitchCase="true" [attr.contenteditable]="editable && editModeActivated">
        <!-- CUSTOM TEMPLATE -->
        <template
            [ngOutletContext]="{ item: model }"
            [ngTemplateOutlet]="template">
        </template>
    </div>

    <div *ngSwitchCase="false">
        <!-- TAG NAME -->
        <span [attr.contenteditable]="editable && editModeActivated"
              (blur)="editable ? toggleEditMode() : undefined">
            {{ model.display }}
        </span>

        <!-- 'X' BUTTON -->
        <delete-icon
            aria-label="Remove tag"
            role="button"
            (click)="remove()"
            *ngIf="!readonly && removable">
        </delete-icon>
    </div>
</div>
