// COLORS
$color-primary-default: #efefef !default;
$color-primary-minimal: #f9f9f9 !default;
$color-primary-dark: #212121 !default;

$color-focused-default: #2196F3 !default;
$color-focused-minimal: #dddddd !default;
$color-focused-dark: #999999 !default;

$color-error-default: #f44336 !default;
$color-error-minimal: $color-error-default !default;
$color-error-dark: $color-error-default !default;
