@import "./_progress-bar.scss";

.ng2-tag-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    transition: all 0.15s;

    padding: $container-padding;
    min-height: $container-height;

    cursor: text;
    position: relative;
}

.ng2-tag-input:focus {
    outline: 0;
}

.ng2-tags-container {
    flex-wrap: wrap;
    display: flex;
}

// form
.ng2-tag-input form {
    margin: $container-margin;
}

.ng2-tag-input__error-message {
    font-size: $error-message-font-size;
    color: $error-message-color;
    margin: $error-message-margin;
}

.default.ng2-tag-input.ng2-tag-input--invalid,
.minimal.ng2-tag-input.ng2-tag-input--invalid,
.dark.ng2-tag-input.ng2-tag-input--invalid {
    border-bottom: 2px solid map-get($color-error, 'default');
}

.bootstrap.ng2-tag-input.ng2-tag-input--invalid {
    border-bottom: 2px solid map-get($color-error, 'bootstrap');
}

.bootstrap3-info.ng2-tag-input.ng2-tag-input--invalid {
    border-color: map-get($color-error, 'bootstrap');
}

.default.ng2-tag-input.ng2-tag-input--loading,
.dark.ng2-tag-input.ng2-tag-input--loading,
.minimal.ng2-tag-input.ng2-tag-input--loading,
.bootstrap.ng2-tag-input.ng2-tag-input--loading {
    border: none;
}
