// tag input

.ng2-tag-input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    transition: all 0.15s;

    padding: 0.25rem 0.2rem;
    min-height: 32px;

    cursor: text;
}

.ng2-tag-input:focus {
    outline: 0;
}

.ng2-tags-container {
    flex-wrap: wrap;
    display: flex;
}

// form
.ng2-tag-input form {
    margin: 0.1em 0;
}

.ng2-tag-input__text-input {
    border: none;

    display: inline;
    padding: 0 0.5rem;
    vertical-align: middle;

    font-size: 15px;
    height: 35px;
    font-family: $font-family;
}

.ng2-tag-input__text-input:focus {
    outline: 0;
}

// tag


.ng2-tag--readonly {
    cursor: default;
}

.ng2-tag--readonly:focus, .tag {
    outline: 0;
}


.ng2-tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    font-family: $font-family;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.05rem;

    color: #222;
    cursor: pointer;
    border-radius: 16px;
    transition: all 0.25s;

    margin: 0.1rem 0.2rem;
    padding: 0.08rem 0.5rem;

    height: 32px;
    line-height: 32px;
}


.ng2-tag__remove-button {
    margin-left: 6px;
    width: 16px;
    height: 26px;
    align-self: center;
    transition: all 0.15s;
}

.ng2-tag__remove-button:hover {
    transform: scale(1.3);
}

.ng2-tag-input__errors-container {
    margin: 0.5em 0;
}

.tag-input__error-message {
    font-size: 12px;
    color: map-get($color-red, 'default');
}


.default.ng2-tag-input--invalid,
.minimal.ng2-tag-input--invalid,
.dark.ng2-tag-input--invalid {
    border-bottom: 2px solid map-get($color-red, 'default');
}

