$dark-theme: (
    container-border-bottom: 2px solid map-get($color-primary, 'dark')
);

$dark-tag-theme: (
    background: map-get($color-primary, 'dark'),
    color: #f9f9f9,
    background-focused: map-get($color-focused, 'dark'),
    color-focused: map-get($color-primary, 'dark')
);

.dark.ng2-tag-input {
    @include tag-input-theme($dark-theme);
}
