// common

$color-focused: (
    default: $color-focused-default,
    minimal: $color-focused-minimal,
    dark: $color-focused-dark
);

$color-primary: (
    default: $color-primary-default,
    minimal: $color-primary-minimal,
    dark: $color-primary-dark
);

$color-error: (
    default: $color-error-default,
    minimal: $color-error-minimal,
    dark: $color-error-dark
);
