// common

$color-focused: (
    default: #2196F3,
    minimal: #ddd,
    dark: #999
);

$color-grey: (
    default: #efefef,
    minimal: #f9f9f9,
    dark: #212121
);

$color-red: (
    default: #f44336
);

$font-family: "Roboto", "Helvetica Neue", sans-serif;
