$font-family: "Roboto", "Helvetica Neue", sans-serif !default;

$tag-color: #444 !default;
$tag-border-radius: 16px !default;
$tag-font-size: 1em !default;
$tag-font-weight: 400 !default;
$tag-letter-spacing: 0.05rem !default;
$tag-margin: 0.1rem 0.3rem 0.1rem 0 !default;
$tag-padding: 0.08rem 0.45rem !default;
$tag-height: 32px !default;
$tag-line-height: 34px !default;

$input-font-size: 1em;
$input-padding: 0 0.5rem;
$input-border: none;
$input-height: 38px;

$container-padding: 0.25rem 0 !default;
$container-height: 32px !default;
$container-margin: 0.1em 0 !default;

$error-message-font-size: 0.8em !default;
$error-message-margin: 0.5em 0 0 0 !default;
$error-message-color: $color-error-default !default;
