<!-- CONTAINER -->
<div ngClass="ng2-tag-input {{ theme }}"
     (click)="focus(true)"
     [attr.tabindex]="-1"
     [class.ng2-tag-input--invalid]="hasErrors()"
     [class.ng2-tag-input--focused]="isInputFocused()">

    <!-- TAGS -->
    <div class="ng2-tags-container">
        <tag *ngFor="let item of items"
             [@flyInOut]="'in'"
             (onSelect)="selectItem(item)"
             (onRemove)="removeItem(item)"
             (onKeyDown)="handleKeydown($event, item)"
             (onTagEdited)="onTagEdited.emit(item)"
             [attr.tabindex]="readonly ? -1 : 0"
             [class.readonly]="readonly"
             [readonly]="readonly"
             [removable]="removable"
             [editable]="editable"
             [template]="!!hasCustomTemplate() ? templates.first : undefined"
             [model]="item">
        </tag>

        <tag-input-form
            (onSubmit)="addItem()"
            (onBlur)="blur()"
            (onFocus)="focus()"
            (onKeydown)="fireEvents('keydown', $event)"
            (onKeyup)="fireEvents('keyup', $event)"
            (onKeypress)="handleKeyPress()"
            [validators]="validators"
            [hidden]="readonly || maxItemsReached"
            [placeholder]="items.length ? placeholder : secondaryPlaceholder"
            [inputClass]="inputClass"
            [inputId]="inputId">
        </tag-input-form>
    </div>
</div>

<!-- ERRORS -->
<div class="ng2-tag-input__errors-container" *ngIf="hasErrors()">
    <p *ngFor="let error of inputForm.getErrorMessages(errorMessages)" class="ng2-tag-input__error-message">
        <span>{{ error }}</span>
    </p>
</div>
