
<!-- input tag container -->
<div ngClass="ng2-tag-input {{ theme }}"
     (click)="focus(true)"
     [attr.tabindex]="-1"
     [class.ng2-tag-input--invalid]="hasErrors()"
     [class.ng2-tag-input--focused]="isInputFocused()">

    <!-- tags [custom] -->
    <div #template class="ng2-tags-container ng2-tags-container--custom">
        <ng-content></ng-content>

        <tag-input-form
            *ngIf="hasCustomTemplate()"
            (onSubmit)="addItem()"
            (onBlur)="blur()"
            (onFocus)="focus()"
            (onKeydown)="fireEvents('keydown', $event)"
            (onKeyup)="fireEvents('keyup', $event)"
            (onKeypress)="handleKeyPress()"
            [validators]="validators"
            [hidden]="readonly || maxItemsReached"
            [placeholder]="items.length ? placeholder : secondaryPlaceholder"
            [inputClass]="inputClass"
            [inputId]="inputId"
        ></tag-input-form>
    </div>

    <!-- tags [default] -->
    <div class="ng2-tags-container ng2-tags-container--default" *ngIf="hasCustomTemplate() === false">
        <div *ngFor="let item of items"
             (click)="selectItem(item);$event.stopPropagation();"
             (keydown)="handleKeydown($event, item)"
             [attr.tabindex]="readonly ? -1 : 0"
             class="ng2-tag"
             [class.ng2-tag--readonly]="readonly"
             [attr.aria-label]="item">

            <!-- tag name -->
            <span class="ng2-tag__name">
                {{ item }}
            </span>

            <!-- remove 'x' button -->
            <delete-icon class="ng2-tag__remove-button"
                  aria-label="Remove tag"
                  (click)="removeItem(item)"
                  *ngIf="!readonly">
            </delete-icon>
        </div>

        <tag-input-form
            (onSubmit)="addItem()"
            (onBlur)="blur()"
            (onFocus)="focus()"
            (onKeydown)="fireEvents('keydown', $event)"
            (onKeyup)="fireEvents('keyup', $event)"
            [validators]="validators"
            [hidden]="readonly || maxItemsReached"
            [placeholder]="items.length ? placeholder : secondaryPlaceholder"
            [inputClass]="inputClass"
            [inputId]="inputId"
        ></tag-input-form>
    </div>

    <div *ngIf="autocomplete">
        <ng2-dropdown>
            <ng2-dropdown-menu [focusFirstElement]="false"
                               (keydown)="escapeDropdown($event)"
                               offset="50 0">
                <ng2-menu-item *ngFor="let item of itemsMatching" [value]="item">
                    <span [innerHTML]="item | highlight : inputForm.value.value"></span>
                </ng2-menu-item>
            </ng2-dropdown-menu>
        </ng2-dropdown>
    </div>
</div>

<!-- ERRORS -->
<div class="ng2-tag-input__errors-container" *ngIf="hasErrors()">
    <p *ngFor="let error of inputForm.getErrorMessages(errorMessages)"
       class="ng2-tag-input__error-message">
        <span>{{ error }}</span>
    </p>
</div>
