<!-- CONTAINER -->

<div ngClass="ng2-tag-input {{ theme || '' }}"
     (click)="focus(true, false)"
     [attr.tabindex]="-1"
     [class.ng2-tag-input--disabled]="disabled"
     [class.ng2-tag-input--loading]="isLoading"
     [class.ng2-tag-input--invalid]="hasErrors()"
     [class.ng2-tag-input--focused]="isInputFocused()">

    <!-- TAGS -->
    <div class="ng2-tags-container">
        <tag *ngFor="let item of items; let i = index"

             (onSelect)="selectItem(item)"
             (onRemove)="removeItem(item, i)"
             (onKeyDown)="handleKeydown($event, item)"
             (onTagEdited)="onTagEdited.emit(item)"

             [disabled]="disabled"
             [@flyInOut]="'in'"
             [hasRipple]="ripple"
             [index]="i"
             [attr.tabindex]="readonly ? -1 : 0"
             [class.readonly]="readonly"
             [readonly]="readonly"
             [removable]="removable"
             [editable]="editable"
             [displayBy]="displayBy"
             [identifyBy]="identifyBy"
             [template]="!!hasCustomTemplate() ? templates.first : undefined"
             [model]="item">
        </tag>

        <tag-input-form
            (onSubmit)="addItem()"
            (onBlur)="blur()"
            (onFocus)="focus(false, dropdown ? dropdown.showDropdownIfEmpty : false)"
            (onKeydown)="fireEvents('keydown', $event)"
            (onKeyup)="fireEvents('keyup', $event)"

            [(inputText)]="inputText"
            [disabled]="disabled"
            [validators]="validators"
            [hidden]="readonly || maxItemsReached"
            [placeholder]="items.length ? placeholder : secondaryPlaceholder"
            [inputClass]="inputClass"
            [inputId]="inputId"
            [tabindex]="tabindex">
        </tag-input-form>
    </div>

    <div class="progress-bar" *ngIf="isLoading"></div>
</div>

<!-- ERRORS -->
<div *ngIf="hasErrors()" class="error-messages {{ theme || '' }}">
    <p *ngFor="let error of inputForm.getErrorMessages(errorMessages)" class="error-message">
        <span>{{ error }}</span>
    </p>
</div>

<ng-content></ng-content>
