$color-primary-default: #efefef !default;
$color-primary-minimal: #f9f9f9 !default;
$color-primary-dark: #444 !default;

$color-focused-default: #2196F3 !default;
$color-focused-minimal: #d0d0d0 !default;
$color-focused-dark: #efefef !default;

$color-error-default: #f44336 !default;
$color-error-minimal: $color-error-default !default;
$color-error-dark: $color-error-default !default;
$color-error-bootstrap: #d9534f !default;
$color-error-bootstrap3-info: #d9534f !default;

$color-arrow-default: #444 !default;
$color-arrow-minimal: $color-arrow-default !default;
$color-arrow-dark: #fff !default;
$color-arrow-bootstrap: #fff !default;

$color-arrow-default-focused: #fff !default;
$color-arrow-minimal-focused: #000 !default;
$color-arrow-dark-focused: #000 !default;

$color-bootstrap-default: #0275d8 !default;
$color-bootstrap-focused: #025aa5 !default;

$color-bootstrap3-info-default: #5bc0de !default;
$color-bootstrap3-info-focused: darken(#5bc0de, 15%) !default;
