<!-- form -->
<form (submit)="onSubmit.emit()" [formGroup]="form">
    <input #input
           type="text"
           class="ng2-tag-input__text-input"
           formControlName="item"
           tabindex="0"

           [ngClass]="inputClass"
           [attr.id]="inputId"
           [attr.placeholder]="placeholder"
           [attr.aria-label]="placeholder"

           (focus)="onFocus.emit($event)"
           (blur)="onBlur.emit($event)"
           (keydown)="onKeyDown($event)"
           (keyup)="onKeyup.emit($event)"
    />
</form>
