
<!-- input tag container -->
<div class="tag-input"
     (click)="input.focus()"
     [class.tag-input--invalid]="!form.valid && form.controls.item.value"
     [class.tag-input--focused]="input.isFocused">

    <!-- tags [custom] -->
    <div #template class="tags-container tags-container--custom flex">
        <ng-content></ng-content>
    </div>

    <!-- tags [default] -->
    <div class="tags-container tags-container--default flex">
        <div *ngFor="let item of items; trackBy: item; let i = index"
             (click)="select(item);$event.stopPropagation();"
             (keydown)="handleKeydown($event, item)"
             [attr.tabindex]="readonly ? -1 : 0"
             class="tag"
             [class.tag--readonly]="readonly"
             [attr.aria-label]="item">

            <!-- tag name -->
            <span class="tag__name">
                {{ item }}
            </span>

            <!-- remove 'x' button -->
            <delete-icon class="tag__remove-button"
                  aria-label="Remove tag"
                  (click)="remove(item)"
                  *ngIf="!readonly">
            </delete-icon>
        </div>

        <!-- form -->
        <form (ngSubmit)="addItem()" *ngIf="items && input.isVisible.call(this)" [formGroup]="form">
            <input type="text"
                   required
                   class="tag-input__text-input"
                   placeholder="{{ items.length ? placeholder : secondaryPlaceholder }}"
                   (focus)="input.focus()"
                   (blur)="input.blur()"
                   (keyup)="fireEvents('keyup', $event)"
                   formControlName="item"
                   tabindex="0"
                   [attr.aria-label]="placeholder"
            />
        </form>

        <div *ngIf="autocomplete">
            <ng2-dropdown>
                <ng2-dropdown-menu [focusFirstElement]="false" offset="60 0">
                    <ng2-menu-item *ngFor="let item of itemsMatching"
                                   [value]="item">
                        {{ item }}
                    </ng2-menu-item>
                </ng2-dropdown-menu>
            </ng2-dropdown>
        </div>
    </div>
</div>
