@import "../../modules/core/styles/core/_core.scss";

$foundation-primary: #1779ba;
$foundation-primary-dark: darken($foundation-primary, 10%);

$foundation-theme: (
    container-border-bottom: 1px solid $foundation-primary
);

$foundation-tag-theme: (
    background: $foundation-primary,
    background-focused: $foundation-primary-dark,
    background-active: $foundation-primary-dark,
    background-hover: $foundation-primary-dark,
    color: #fff,
    color-hover: #fff,
    border-radius: 2px
);

$foundation-icon-theme: (
    fill: #fff,
    fill-focus: #eee,
    transition: all 0.35s
);

:ng-deep .ng2-tag-input.foundation-theme {
    @include tag-input-theme($foundation-theme);
}

:ng-deep .ng2-tag-input.foundation-theme tag {
    @include tag-theme($foundation-tag-theme);
}

:ng-deep .ng2-tag-input.foundation-theme tag delete-icon {
    @include icon-theme($foundation-icon-theme);
}

