.progress-bar, .progress-bar:before {
    height: 2px;
    width: 100%;
    margin: 0;
}

.progress-bar {
    background-color: map_get($color-focused, 'default');
    display: flex;
    position: absolute;
    bottom: 0;
}

.progress-bar:before {
    background-color: lighten(map_get($color-focused, 'default'), 20%);
    content: '';
    -webkit-animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@-webkit-keyframes running-progress {
    0% { margin-left: 0; margin-right: 100%; }
    50% { margin-left: 25%; margin-right: 0; }
    100% { margin-left: 100%; margin-right: 0; }
}

@keyframes running-progress {
    0% { margin-left: 0; margin-right: 100%; }
    50% { margin-left: 25%; margin-right: 0; }
    100% { margin-left: 100%; margin-right: 0; }
}
