.tag {
  display: flex;
  flex-direction: row;
  margin: 0 0.2rem;
  background: #efefef;
  color: #222;
  padding: 0.6rem;
  border-radius: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.05rem;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s;
  border: 1px solid #eee;
}

.tag--selected {
  background: #2196F3;
  color: #fff;
  border-color: darken(#2196F3, 5%);
}

.tag__remove-button {
  margin-left: 5px;
  cursor: pointer;
}

.tag__remove-button img {
  width: 16px;
  vertical-align: sub;
}