.tag-input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: all 0.15s;
  padding: 0.2rem;
  border-bottom: 1px solid #efefef;
}

.tag-input--focused {
  border-bottom: 2px solid #2196F3;
}

.tag-input--invalid {
  border-bottom: 2px solid red;
}

.tag-input form {
  line-height: 2;
}

.tag-input__text-input {
  border: none;
  display: inline;
  padding: 0 0.5rem;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  vertical-align: sub;
}

.tag-input__text-input:focus {
  outline: 0;
}