<div class="tag-input"
     (click)="input.focus()"
     [class.tag-input--invalid]="!form.valid && form.controls.item.value"
     [class.tag-input--focused]="input.isFocused">

    <tag *ngFor="let item of value; trackBy: item; let i = index"
         (onRemove)="remove($event)"
         (click)="select(item);$event.stopPropagation();"
         (keydown)="handleKeydown($event, item)"
         [tabindex]="i"
         [readonly]="readonly"
         [item]="item">
    </tag>

    <form (ngSubmit)="add()" *ngIf="input.isVisible.call(this)" [ngFormModel]="form">
        <input type="text"
               required
               class="tag-input__text-input"
               placeholder="{{ value.length ? placeholder : secondaryPlaceholder }}"
               (focus)="input.focus()"
               (blur)="input.isFocused = false"
               (keyup)="fireEvents('keyup', $event)"
               ngControl="item"
               [tabindex]="value.length"
        />
    </form>
</div>
