.tag-input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 0.2rem;
  border-bottom: 1px solid #efefef;
}

.tag-input.tag-input--focused {
  border-bottom: 2px solid #2196F3;
}

.tag-input form {
  line-height: 2;
}

.tag-input__text-input {
  border: none;
  display: inline;
  padding: 0 0.5rem;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  vertical-align: text-top;
  line-height: 1.8;
}

.tag-input__text-input:focus {
  outline: 0;
}

tag {
  height: 40px;
}

tag:focus {
  outline: 0;
}