/deep/ .ng2-dropdown-menu {
  width: 400px !important;
  padding: 0 !important;
  border: 1px solid #359cbf;
}

.dropdown-bottom-button {
  height: 30px;
  border-top: 1px solid #359cbf;

  display: flex;
  align-items: center;
}

.new-secondary-purpose {
  font-size: 14px;
  font-weight: bold;
  color: #359cbf;
  padding-left: 15px;
  cursor: pointer;
}
