<ng2-dropdown>
    <ng2-dropdown-menu [focusFirstElement]="focusFirstElement" [offset]="offset">
        <ng2-menu-item *ngFor="let item of items; let index = index;"
                       [value]="item"
                       [ngSwitch]="!!templates.length">
            <span *ngSwitchCase="false"
                  [innerHTML]="item.display | highlight : tagInput.inputForm.value.value">
            </span>

            <template *ngSwitchDefault
                      [ngTemplateOutlet]="templates.first"
                      [ngOutletContext]="{ item: item, index: index }">
            </template>
        </ng2-menu-item>
    </ng2-dropdown-menu>
</ng2-dropdown>
