@import "../styles/themes/_themes.scss";

:host(delete-icon) {
    @include icon-theme($default-icon-theme);
}

:host(delete-icon):hover {
    transform: scale(1.5) translateY(-3px);
}

:host-context(.dark) {
    @include icon-theme($dark-icon-theme);
}

:host-context(.minimal) {
    @include icon-theme($minimal-icon-theme);
}

:host-context(.bootstrap) {
    @include icon-theme($bootstrap-icon-theme);
}

:host-context(tag:focus),
:host-context(tag:active) {
    @include icon-theme-focused($default-icon-theme);
}

:host-context(.dark tag:focus),
:host-context(.dark tag:active) {
    @include icon-theme-focused($dark-icon-theme);
}

:host-context(.minimal tag:focus),
:host-context(.minimal tag:active) {
    @include icon-theme-focused($minimal-icon-theme);
}

:host-context(.bootstrap tag:focus),
:host-context(.bootstrap tag:active) {
    @include icon-theme-focused($bootstrap-icon-theme);
}

:host-context(.bootstrap3-info) {
    @include icon-theme-focused($bootstrap3-info-icon-theme);
    height: inherit;
}
